head {
	font-family: Oswald, sans-serif;
	font-size: 1em;
	color:#000000;
	margin-top: 2px;
	margin-bottom: 10px;
	margain: 0px;
  text-align: center;
}


body {
font-family: Merriweather,serif;
font-size: 1.25em;
color:#444;
margin-top: 2px;
margin-bottom: 10px;
margain: 0px;
padding-right: 20px;
padding-left: 20px;
}



#container {
width:90%;
max-width: 600px;
margin: 0 auto;
border-bottom:50px;
padding-left: 20px;
padding-right: 20px;
}


.selector-for-some-widget {
  box-sizing: content-box;
}


/* tophat */
.nav-logo{
  color: #fff;
  margin:0 auto;
  font-weight: 700;
  text-transform: uppercase;

}

/* media queries */
@media(max-width: 600px){
  p {
    padding-left: 20px;
    padding-right: 10px;
  }

  .chapter-head {
    font-size: 1.25em;
  }

.hed {
  font-size: 2em;
}

.hero-hed {
  font-size: 2em;
}

}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


/* Splash area */
.hero-container {
  position: relative;
  text-align: center;
  color: white; 
}

.hero-image {
  width: 100%;

}

.overlay {
  position: absolute;
  top: 20%;
  width: 100%;
  background: #000;
  opacity: .7;
}

.hero-head {
  font-family: Oswald, sans-serif;
  font-size: 8em;
  color:  #8B0000;
  margin:0 auto;
  padding-bottom: 10px;
}

.hero-sub {
  font-family: Merriweather, serif;
  font-size: 2.5em;
}

/*Quote*/
.quote {
  font-family: Merriweather, serif;
  color: #f23030;
  font-size: 3em;
  font-weight: 500;
  text-align: left;
  padding: 15px 0 15px 0; 
  border-top: 1px solid #f23030;
  border-bottom: 1px solid #f23030;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-attribution {
  font-size: .5em;
  font-family: Merriweather, serif;
  font-weight: 100;
  text-align: left;
  color: black;
}


.figcaption {
  font-style: 'Merriweather', serif;
  font-size: .5em;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}



/*nav bar*/ 
/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
  font-style: 'Oswald', sans-serif
}

/* The about link: 20px from the top with a green background */
#additionalinfo {
  top: 20px;
  background-color: #FF4500; /* Orangered */
  font-style: "Oswald", sans-serif
}

/* Links */ 
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: darkred;
}

/* selected link */
a:active {
  color: yellow;
}








